/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

.phpunit
.phpunit.result.cache
/phpunit.xml

/.web-server-pid
###< symfony/web-server-bundle ###

/.web-server-pid
/build/


/app/bootstrap.php.cache
/bin/*
!bin/console
/composer.phar


/var/spool/*
.idea
.web-server-pid
.DS_Store